@charset "UTF-8";

.container{display : grid; grid-template-columns : 1fr 30%; grid-template-rows : 80px 1fr; height : 100%; grid-template-areas :  "header header"  "main side"}

.header{grid-area : header; margin:0; background-color: #FFFFFF; overflow: hidden; display : grid; grid-template-columns: 1fr 30%;}
.main{grid-area : main; padding:10px; margin:0; text-align: center; height: 1000px; overflow-y: scroll; -ms-overflow-style: none; /* IE and Edge */scrollbar-width: none; /* Firefox */}
.main::-webkit-scrollbar {display: none; /* Chrome, Safari, Opera*/ width: 0 !important;}
.side{grid-area : side; background-color: #162447; margin:0; padding:0; text-align: center;}

@media all and (max-width : 575px){
 .container{
 grid-template-columns : 1fr 30%;
 grid-template-rows : 80px 1fr;
 height : 100%;
 grid-gap : 5px;
 grid-template-areas :
  "header"
  "main"
  "side";
 }
}
a{text-decoration: none !important;}
a:hover{text-decoration: none !important;}
a:visited {text-decoration: none !important;}

.header1{height: 100%;}
.header1 h1{text-align: center;}

#header2{background-color: #162447; height:100%;font-size: 20px;display: grid;grid-template-columns: 1fr 2fr 1fr;font-weight: bold;color: #FFFFFF;margin: 0; padding: 0;}
#header2-1{text-align: center; margin: auto; padding: 0;}
#header2-2{text-align: right; margin-top:auto; margin-bottom: auto; margin-right: 7px; padding: 0;}
#header2-3{text-align: center; vertical-align: middel; margin: 7px; padding: 0;}
#header2-3 button{background-color:#F05454; color: #FFFFFF; width:60px; height:60px; border-radius: 30px; border: 0; size: 14px; font-weight: bold; text-shadow: #5E5E5E;}

table{width:90%; margin:auto; border-collapse: collapse;}
.th{font-weight: bold; font-size: 25px; height: 80px;}
.th1,.th2,.th3{border-top: 2px solid #E0E0E0; border-bottom: 2px solid #E0E0E0; margin: 0; padding: 0;}
.th1{width: 60%;}
.th2{width: 15%;}
.th3{width: 15%;}
.tr1{height: 70px;}
.td1 b{font-size: 22px; font-weight: bold;}
.td1 span{font-size: 15px; text-align: left;}
.td2{font-size: 15px;}
.td3 {font-size: 23px; font-weight: bold;}

#side1{height:90%; margin: 0; overflow-y: scroll; -ms-overflow-style: none; scrollbar-width: none;}
#side1::-webkit-scrollbar {display: none; width: 0 !important;}
#side1-1{display:inline-block; vertical-align:middle; margin:7px; padding: 10px; width: 85%; background-color:#394562; color: #FFFFFF; font-size: 23px; font-weight: bold;}
#side1-2{margin: 15px; padding: 0 10px 0 0;}
#side1-3{margin: 15px; padding: 0 5px 0 0;}
#side1-2-1,#side1-3-1{width:35%; margin: auto;  padding: 0; display:inline-block;zoom:1;.display:inline; text-align: left;}
#side1-2-2,#side1-3-2{width:60%; margin: auto; padding: 0; display:inline-block;zoom:1;.display:inline; text-align: left;}

#side2{width: 100%; margin: 0; height: 10%;  margin: auto; padding: 0; text-align: center; display: block; font-size: 0;}
#side2-1, #side2-2{  
  display:inline-block;
  vertical-align:middle;
  float:left;
  width:50%;                      /*2개 버튼 각각 50% 영역*/
  height:50%;
  justify-content:center;         /*수평정렬*/
  align-items:center;             /*수직정렬*/
  float:left;                     /*좌측배치*/
  cursor:pointer;                 /*마우스 포인터 효과*/
  margin: 0;
  padding: 0;}
#side2-1 button{
	display:block;
	width:90%;
	height:100%;
	border-radius: 5px;
	background-color: #E0E0E0;
	color: #162447;
	border: 0;
	font-size: 24px;
	font-weight: bold;
	margin: auto;
	padding: 4px 0 4px 0;
	text-align: center;
}
#side2-2 button{
	display:block;
	width:90%;
	height:100%;
	border-radius: 5px;
	background-color: #F05454;
	color: #FFFFFF;
	border: 0;
	font-size: 24px;
	font-weight: bold;
	margin: auto;
	padding: 4px 0 4px 0;
	text-align: center;
}


