@charset "UTF-8";

.container{display : grid; grid-template-columns : 1fr 30%; grid-template-rows : 80px 1fr; height : 100%; grid-template-areas :  "header header"  "main side"}

.header{grid-area : header; margin:0; background-color: #EAEAEA; overflow: hidden; display : grid; grid-template-columns: 1fr 30%;}
.main{grid-area : main; padding:10px; margin:0; text-align: center; height: 1000px; overflow-y: scroll; -ms-overflow-style: none; /* IE and Edge */scrollbar-width: none; /* Firefox */}
.main::-webkit-scrollbar {display: none; /* Chrome, Safari, Opera*/ width: 0 !important;}
.side{grid-area : side; background-color: #162447; margin:0; padding:0; text-align: center;}

@media all and (max-width : 575px){
 .container{
 grid-template-columns : 1fr 30%;
 grid-template-rows : 80px 1fr;
 height : 100%;
 grid-gap : 5px;
 grid-template-areas :
  "header"
  "main"
  "side";
 }
}
a{text-decoration: none !important;}
a:hover{text-decoration: none !important;}
a:visited {text-decoration: none !important;}

.header1{height: 100%;}
.header1 h1{text-align: center;}

#header2{background-color: #162447; height:100%;font-size: 20px;display: grid;grid-template-columns: 1fr 2fr 1fr;font-weight: bold;color: #FFFFFF;margin: 0; padding: 0;}
#header2-1{text-align: center; margin: auto; padding: 0;}
#header2-2{text-align: right; margin-top:auto; margin-bottom: auto; margin-right: 7px; padding: 0;}
#header2-3{text-align: center; vertical-align: middel; margin: 7px; padding: 0;}
#header2-3 button{background-color:#F05454; color: #FFFFFF; width:60px; height:60px; border-radius: 30px; border: 0; size: 14px; font-weight: bold; text-shadow: #5E5E5E;}


#side1{height: 86%; margin: 0; overflow-y: scroll; -ms-overflow-style: none; scrollbar-width: none;}
#side1::-webkit-scrollbar {display: none; width: 0 !important;}
.side1-1{display:inline-block; vertical-align:middle; margin:7px; padding: 10px; width: 85%; background-color:#394562; color: #FFFFFF;}
.side1-2{width: 100%; margin: 0; }

